#cabecera {
    color: white;
}
#calesita {
    width:  750px;
   margin-left: auto;
   margin-right: auto;
}

div h5{
    color: black;
    font-weight: bold;
    text-shadow: ghostwhite 0px 0px 8px;
}
div p {
    color: black;
    font-weight: bold;
    text-shadow: ghostwhite 0px 0px 8px;

}
#acordion {
    width: 300px;
    margin: 50px;
}
#tarjetas{
    display: flex;
    align-items: center;
 }
 #carta{
     margin: 50px;
 }
